/* MAIN ES UN SELECTOR 
COLOR:#00f; PARA DECLARAR COLOR 
EL # ES VALOR 
WITDTH: 3PX; PX ES LA UNIDAD
TODO ESO ES UNA REGLA
main{
    color:#00f;
    width:3px;
}Regla
Selectores ({id-clase-pseudo clase, atributo, operadores.} compuestos) 
-Layout (box model)- Propiedades (fuentes, unidades)





*/

main {
    color: #00f;
    width: 3px;
}