@media screen and (max-width: 600px) {
  ul li.right, 
  ul li {float: none;}
}


@media(min-width:468px){
  span,  
  li {
    color: aliceblue;
    /* border: 2px solid blue; */
    padding: .5em;
    
  }
}
.espn{
    color: aliceblue;
    background-color: red;
}
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
  justify-content: space-around;
}

/* Style the topnav links */
.topnav a {
  
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  justify-content: space-around;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* Style the topnav links */
.midnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.midnav a:hover {
  background-color: #ddd;
  color: black;
}
  ol {
    color: black;
    border: 2px solid rgb(73, 72, 73);
    padding: .5em;
    
  }
  ol {
    
    display: flex;
    list-style: none;
  }
 ol>li{
    color: black;
  }
  .primer{
    border: 2px solid gray;
    justify-content: space-between;
  }
  .tercer{
    margin-left: 25%;
    margin-right: 25%;
  }
 #pond{
    display: inline;
    justify-content: space-between;
 }
 .terms {
  display: flex;
}

.terms > p {
  margin: 1;
}

.first{
  border: 2px solid gray;
  border-radius: 10px;
  align-items: center;


}

.second{
  align-items: center;
 justify-content: space-around;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.sec{
  width: 300px;
  height: 100px;  
  padding: 50px;
  border: 1px solid red;
  overflow: hidden;
}

.secc{
  width: 300px;
  height: 100px;  
  padding: 50px;
  border: 1px solid red;
  overflow: hidden;
}

.first{
  width: 300px;
  height: 100px;  
  padding: 50px;
  border: 1px solid red;
  overflow: hidden;
}