@media screen and (max-width: 600px) {
  ul li.right, 
  ul li {float: none;}
}


@media(min-width:468px){
  span,  
  li {
    color: aliceblue;
    /* border: 2px solid blue; */
    padding: .5em;
    
  }
}
.espn{
    color: aliceblue;
    background-color: red;
}
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
  justify-content: space-around;
}

/* Style the topnav links */
.topnav a {
  
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  justify-content: space-around;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items:baseline;
  height: auto;
  width:auto;
}

div.sec{
  position: static;
  width: 300px;
  height: 100px;  
  padding: 50px;
  border-radius: 10px;
  border: 1px solid red;
  overflow: hidden;
}

div.ter{
  position: -webkit-sticky;
  position:sticky;
  top: 20px;
  width: 300px;
  height: 100px;  
  padding: 50px;
  border: 1px solid red;
  overflow: hidden;
  border-radius: 10px;
}

.first{
  position: sticky;
  width: 300px;
  height: 100px;  
  padding: 50px;
  border: 1px solid red;
  overflow: hidden;
  border-radius: 10px;
}